*_cache

coverage

node_modules

test

package-lock.json

.*

vue.config.js
postcss.config.js
prettier.config.js
babel.config.js
.eslintrc.js
.eslintignore
.browserslistrc
.vscode
.gitignore

tsconfig.json

example